footer {
    background-color: #fff;
    padding: 30px;
    border-top: 1px solid #979797;
    text-align: center;
}

.links-ryann {
    display: flex;
    justify-content: center;
    align-items: center;
}

.practical-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.practical-link-list {
    text-decoration: none;
    color: #0088cc;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.practical-link-list:hover {
    text-decoration: underline;
}